<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="font-size: 2em; color: Tomato;" >
          <a style="margin-right: .5em;"   href="https://gitlab.com/zendrulat123"  target="_blank"  matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
          [matRippleRadius]="radius"
          [matRippleColor]="color">
             <i style="color:tomato !important" class="fab fa-gitlab"></i>
          </a>
          <a style="margin-right: .5em;" href="https://twitter.com/ZacharyEndrulat" target="_blank"  matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
          [matRippleRadius]="radius"
          [matRippleColor]="color">
            <i style="color:white !important" class="fab fa-twitter"></i>
         </a>
         <a style="margin-right: .5em;" href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=drive_web&ouid=116246055924160986923"  target="_blank" matRipple
         [matRippleCentered]="centered"
         [matRippleDisabled]="disabled"
         [matRippleUnbounded]="unbounded"
         [matRippleRadius]="radius"
         [matRippleColor]="color">
          <i class="fab fa-google-drive"></i>
       </a>
       <a style="margin-right: .5em;" href="https://discord.gg/2YpksDR"  target="_blank" matRipple
       [matRippleCentered]="centered"
       [matRippleDisabled]="disabled"
       [matRippleUnbounded]="unbounded"
       [matRippleRadius]="radius"
       [matRippleColor]="color">
        <i style="color:purple !important" class="fab fa-discord"></i>
     </a>
     <a style="margin-right: .5em;" href="https://medium.com/@snippet22"  target="_blank" matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
     <i style="color:tomato !important" class="fab fa-medium-m"></i>
   </a>
    </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>

    <div></div>
    <mat-sidenav-content fxFlexFill>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-grid-list cols="2" rowHeight="7em">
      <mat-grid-tile color="primary mat-toolbar mat-primary">
            <mat-card style="    padding: 24px;" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                      <img style="    border-radius: 2em;" mat-card-image src="../../../assets/me.jpg" alt="Photo of me">
                  </div>
                  <mat-card-title>Zachary Endrulat</mat-card-title>
                  <mat-card-subtitle>Web Developer</mat-card-subtitle>
                </mat-card-header>
              </mat-card>


      </mat-grid-tile>
      <mat-grid-tile color="primary mat-toolbar mat-primary">
          <div class="alert alert-primary" role="alert">
              WELCOME TO MY SITE!!!
            </div>

      </mat-grid-tile>
    </mat-grid-list>

</div>
