<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list style="padding:1.5em;">
        <h3>Resources to Learn Go</h3>
        <a mat-list-item href="https://greatercommons.com/"  target="_blank"> Todd Mcloed </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
<!--where the side bar begins-->





          <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile [colspan] = "4" [rowspan] = "3">

                      <mat-card class="example-card">
                          <mat-card-header>
                            <div class="example-header-image">
                                <img style="margin:0 auto; justify-content:center;width:6em; border-radius:20px;background:lightblue;" mat-card-image src="../../../assets/goangualr.png" alt="Photo of a Shiba Inu">
                            </div>
                            <mat-card-title>My Favorite </mat-card-title>
                            <mat-card-subtitle>Go</mat-card-subtitle>
                            <mat-card-subtitle>Angular</mat-card-subtitle>
                          </mat-card-header>

                          <mat-card-content>
                            <p>
                              I love learning new technology and helping others learn.
                              The simplicity of these techs are really amazing and
                              make being productive fun.
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                          </mat-card-actions>
                        </mat-card>

                </mat-grid-tile>
              <mat-grid-tile [colspan] = "2" [rowspan] = "3">
                  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">Resources I used for this site.</div>
                      <div class="card-body">
                        <h5 class="card-title">Resources</h5>
                        <p class="card-text">
                          <mat-chip-list aria-label="Fish selection">
                          <a href="https://docs.google.com/document/d/1gCvZBcNZrQ80L8SaJpsFkNjTpCCbaNN5-IKTNaURxDg/edit?usp=sharing" target="_blank"> <mat-chip>Angular</mat-chip></a>
                          <a href="https://material.angular.io/" target="_blank">  <mat-chip>Angular Material</mat-chip></a>
                          <a href="https://getbootstrap.com/" target="_blank">  <mat-chip color="primary" selected>Bootstrap</mat-chip></a>
                            <a href="https://fontawesome.com" target="_blank">   <mat-chip color="accent" selected>Font Awesome</mat-chip></a>
                          </mat-chip-list>
                        </p>
                      </div>
                    </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan] = "2" [rowspan] = "3">
                  <div class="card">
                      <div class="card-header">
                       Tools I use.
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <mat-tab-group>
                                <mat-tab>
                                  <ng-template mat-tab-label>
                                      <span style="font-size: 25px; color: Dodgerblue;">
                                      <i style="width:3em;" class="fas fa-list-alt"></i>
                                    </span>
                                   VSCode
                                  </ng-template>
                                  <a href="https://code.visualstudio.com/" target="_blank"> Nice gui instead of Angular CLI</a>
                                </mat-tab>

                                <mat-tab>
                                  <ng-template mat-tab-label>
                                      <span style="font-size: 36px; color: Dodgerblue;">
                                      <i class="fab fa-linux"></i>
                                      </span>
                                  Linux Mint 19.2
                                  </ng-template>
                                  <a href="https://www.linuxmint.com/" target="_blank"> Really snappy now.</a>
                                </mat-tab>

                                <mat-tab>
                                  <ng-template mat-tab-label>
                                      <span style="font-size: 36px; color: Dodgerblue;">
                                      <i class="fab fa-chrome"></i></span>
                                    Chrome Canary
                                  </ng-template>

                                  <a href="https://www.chromium.org/getting-involved/dev-channel" target="_blank"> Just feels quicker</a>
                                </mat-tab>
                              </mat-tab-group>
                          <footer class="blockquote-footer">Really I am a fan of speed</footer>
                        </blockquote>
                      </div>
                    </div>

                </mat-grid-tile>
              <mat-grid-tile [colspan] = "4" [rowspan] = "1">

                  <div class="example-button-row">
                    <button (click)="sidenav.toggle()" style="margin-right:1em; font-size:1.5em;" mat-stroked-button>
                      Golang
                    </button>
                    <button style="margin-right:1em; font-size:1.5em;" mat-stroked-button color="primary">
                      Angular
                    </button>
                    <button style="margin-right:1em; font-size:1.5em;" mat-stroked-button color="accent">Javascript</button>

                  </div>

              </mat-grid-tile>
            </mat-grid-list>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

